@charset "UTF-8";

$header-height: 90px;
$header-height-monster: 110px;
$header-height-anlucea: 50px;

$main-background-color: #fcfcfd;
$body-content-width-monster: 65.5em;

$body-margin: 8px;

$skill-table-width: 180px;
$skill-table-padding: 10px;
$entry-border-width: 2px;
$entry-padding: 2px;

$entry-width: $skill-table-width * 5 + $skill-table-padding * 2;
$body-content-width: $entry-width + ($entry-padding + $entry-border-width) * 2;
$border-color-general: #99a;

$msp-color: #58e;

body {
	background-color: $main-background-color;
	color: #404044;
	font-family: "メイリオ", sans-serif;
	font-size: 100%;
	padding: $header-height + 5px 0 0 0;

	&#body-for-monster {
		padding: $header-height-monster + 5px 0 0 0;
	}
	&#body-for-anlucea {
		padding: $header-height-anlucea + 5px 0 0 0;
	}
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	img {
		border-style: none;
	}
}
.error {
	color: red;
}

/* ヘッダ */
#header {
	background-color: $main-background-color;
	width: 100%;
	height: $header-height;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 3px solid #dcc;
	z-index: 99;

	#titleblock {
		height: 25px;
		width: auto;
		margin: 15px 0 7px 0;
		padding: 0 10px;

		h1 {
			font-size: 18px;
			margin: 0 10px 0 0;
			height: 25px;
			float: left;
		}

		#save_url {
			padding: 2px 0;
			height: 21px;
			text-align: right;
			white-space: nowrap;
			font-size: 12px;

			#tw-saveurl, #undo, #redo {
				font-size: 11px;
				height: 18px;
				overflow: hidden;

				.ui-button-text {
					padding: .2em .5em;
				}
			}
			.ui-button-text-icon-primary {
				padding-left: 16px;
			}
			.ui-button-text-icon-secondary {
				padding-right: 16px;
			}

			#msp_selector {
				display: inline-block;
				font-size: 11px;
				margin-right: 10px;

				label[for="msp_msp"] {
					color: $msp-color;
				}
			}
		}
	}

	#consoleblock {
		width: auto;
		height: 39px;
		padding: 0;
		position: relative;
		white-space: nowrap;

		#foldbuttons {
			font-size: 11px;
			position: absolute;
			top: 0;
			left: 10px;
			z-index: 102;

			ul.button-container {
				$width-all: 96px;
				$width-each: 30px;
				$side-padding-a: 3px;
				$height-button: 16px;
				$width-monster-append: 84px;

				display: inline-block;
				vertical-align: top;
				list-style-type: none;
				margin: 0;
				padding: 0;

				&#foldbuttons-all {
					width: ($width-all + 2px + 1px) * 1;
				}
				&#foldbuttons-vocation {
					width: ($width-each + 2px + 1px) * 8;
				}
				&.appendbuttons {
					width: ($width-monster-append + 2px + 1px) * 5;
				}

				li {
					float: left;
					height: $height-button;
					overflow: hidden;
					white-space: nowrap;
					margin: 0 1px 3px 0;
					border: 1px solid #aab;
					background-color: #f0f0f7;

					&:hover {
						cursor: pointer;
						border-color: #445;
						color: black;
					}
					&.button-for-all {
						width: $width-all;
						a {
							width: $width-all - ($side-padding-a * 2);
							text-align: left;
						}
					}
					&.button-each{
						width: $width-each;
						a {
							width: $width-each - ($side-padding-a * 2);
							text-align: center;
						}
					}
					&.button-monster-append{
						width: $width-monster-append;
						a {
							width: $width-monster-append - ($side-padding-a * 2);
							text-align: left;
						}
					}
					a {
						display: block;
						padding: 0 $side-padding-a;
						height: $height-button;
					}
				}

				&#monstermaster li {
					border-color: #aab;
					background-color: #f0f0f7;
				}
				&#itemmaster li {
					border-color: #ba9;
					background-color: #f7f4f0;
				}
			}
		}

		/* 合計表示欄 */
		table#total {
			margin: 0;
			border-collapse: separate;
			border-spacing: 0;
			border-left: 1px solid #aab;
			border-top: 1px solid #aab;
			background-color: $main-background-color;
			position: absolute;
			top: 0;
			left: 10px + 96px + 33px * 8 + 10px;
			z-index: 102;

			td, th {
				margin: 0;
				white-space: nowrap;
				vertical-align: bottom;
				height: 16px;
				text-align: right;
				border-bottom: 1px solid #aab;
			}
			th {
				font-size: 11px;
				font-weight: normal;
				padding: 0 0 0 3px;
			}
			td.total_pts {
				padding: 0 4px 0 3px;
				font-size: 12px;
				width: 22px;
				border-right: 1px solid #aab;

				&#total_exp, &#total_exp_remain {
					width: 64px;
				}
			}
			td#msp_remain {
				color: $msp-color;
				font-weight: bold;
			}
			td#cont_total_sp {
				font-size: 11px;
				line-height: 17px;
				vertical-align: middle;
				text-align: left;
				padding: 0 4px;
			}
			#total_sp {
				font-weight: bold;
				font-size: 16px;
				padding-right: 5px;
			}
		}

		#navlink {
			position: absolute;
			bottom: 0;
			right: 6px;
			z-index: 101;
			font-size: 12px;

			a {
				width: 17.5em;
				margin-top: 2px;
			}
			.ui-button {
				text-align: left;
			}
			.ui-button-text-icon-primary {
				padding-left: 16px;
			}
			.ui-widget {
				font-size: 1em;
			}
			.ui-button-text {
				padding: .2em .5em;
			}
		}
	}
}
#body-for-monster #header {
	height: $header-height-monster;
	#consoleblock {
		height: 39px + ($header-height-monster - $header-height);
	}
}
#body-for-anlucea #header {
	height: $header-height-anlucea;
}

/* エントリボックス */
.class_group, .monster_ent {
	border: $entry-border-width solid $border-color-general;
	border-radius: 5px;
	clear: both;
	margin: 3px 0;
	padding: $entry-padding;
	overflow: hidden;
	position: relative;

	&:nth-child(even) {
		background-color: darken($main-background-color, 2%);
	}
	&:nth-child(odd) {
		background-color: $main-background-color;
	}
}
.class_group {
	width: $entry-width;

	/* 折りたたみ/展開ボタン */
	.fold, .unfold {
		width: 20px;
		height: 20px;
		position: absolute;
		left: 1px;
		bottom: 1px;
	}
}
.monster_ent {
	width: $body-content-width-monster;
}

/* モンスター用 各エントリタイトル */
.ent_title {
	width: 98%;
	margin: 0 auto 7px auto;
	padding: 1px 0 2px 0;
	position: relative;
	height: 18px;
	border-bottom: 1px solid $border-color-general;

	h2, dl, dt, dd {
		display: inline-block;
	}
	h2 {
		font-size: 16px;
		margin: 0;
		padding: 0;
		position: relative;

		#lv_console {
			top: 0;
			left: 0;

			#lv-select {
				margin: 0;
				padding: 0;
			}
		}
	}

	dl, dt, dd {
		margin: 0;
	}
	dt, dd {
		font-size: 12px;
	}

	dd.pts {
		font-weight: bold;
		font-size: 16px;
	}

	dl.skill_pt {
		margin-left: 30px;
	}

	dl.training_pt {
		dd {
			font-weight: bold;
			font-size: 15px;
			position: relative;
		}

		#training_pt_console {
			top: 0;
			left: 0;

			#training_pt-select {
				margin: 0;
				padding: 0;
			}
		}
	}

	dl.expinfo {
		dt {
			margin-left: 10px;
		}
	}

	dl.mspinfo {
		/* margin-left: 5px; */
		position: relative;
		dd.pts:not(.error) {
			color: $msp-color;
		}

		#mspavailable_console {
			top: -2px;
			right: -30px;

			input { /* spinner */
				width: 24px;
				text-align: right;
				font-size: 12px;
			}
		}
	}

	.ent_title_console {
		position: absolute;
		top: 0;
		right: 0;
		line-height: 18px;
		button {
			width: 18px;
			height: 18px;
		}

		.indiv_name, .additional_skill_selector, .natsuki-selector {
			margin-right: 3px;

			label {
				font-size: 80%;
				display: inline-block;
				vertical-align: middle;
			}
			input, select {
				display: inline-block;
				vertical-align: middle;
			}
		}
		.indiv_name input {
			width: 90px;
		}
	}
}
.monster_ent .ent_title {
	height: 22px;
}
#anlucea-data .ent_title {
	height: 22px;
}

.hover-console {
	display: none;
	position: absolute;
	z-index: 101;
}

/* 職業情報欄 */
.class_info {
	font-size: 70%;
	float: left;
	width: 140px;
	height: 200px;
	position: relative;
	text-align: center;
	border-right: 1px solid $border-color-general;
	vertical-align: top;

	dt {
		font-weight: normal;
	}
	dt.label_lv, dd.lv_select {
		display: inline;
	}
	dl, dt, dd {
		margin: 0;
	}
	.lv_select select {
		text-align: right;
	}
	.pts {
		font-weight: bold;
		font-size: 140%;
	}
	.exp {
		font-size: 120%;
	}
	.training_pt, .restart_count {
		width: 2em;
		text-align: right;
	}
}
.monster_ent .class_info {
	height: 260px;
}

.skill_tables {
	padding: 0 $skill-table-padding;
	white-space: nowrap;
}

/* スキル一覧 */
.skill_table {
	font-size: 70%;
	width: $skill-table-width;
	margin: -6px -2px -2px -2px;
	padding-top: 4px;
	border-collapse: separate;
	border-spacing: 0;
	border: 2px solid rgba(255, 0, 0, 0);
	border-radius: 4px;

	display: inline-block;
	vertical-align: top;

	caption {
		overflow: visible;
		white-space: nowrap;
		font-weight: bold;
		font-size: 120%;

		.console_wrapper {
			position: relative;

			#pt_console {
				position: absolute;
				top: -2px;
				white-space: nowrap;

				input { /* spinner */
					width: 24px;
					text-align: right;
					font-size: 12px;
				}
				button { /* reset */
					width: 20px;
					height: 20px;
					vertical-align: bottom;
				}
			}

			.skill_total {
				display: inline-block;
				position: relative;
				.msp {
					display: block;
					position: absolute;
					right: -14px;
					top: -9px;
					font-size: 80%;
					color: $msp-color;
				}
			}
		}
	}
	.skill_pt {
		width: 2em;
		text-align: right;
	}
	.skill_name {
		width: 14em;
		white-space: nowrap;
	}
	td {
		padding: 1px 3px 0 3px;
		color: #889;
		cursor: pointer;
		position: relative;
	}
	th {
		padding: 1px 3px 2px 3px;
	}
	.console {
		text-align: center;

		.ptspinner {
			width: 2em;
			text-align: right;
		}
	}
	.reset {
		width: 20px;
		height: 20px;
		vertical-align: bottom;
	}
	tr.enabled > td {
		color: black;
		font-weight: bold;
	}
	tr:hover {
		background-color: #edd;
		td {
			color: #877;
		}
	}
	tr.enabled:hover td {
		color: #211;
	}
}

#mspmax_console {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 22px;
	width: 60px;
}
#max-with-msp {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 22px;

	.ui-button-text {
		padding: 2px 6px 2px 22px;
		font-size: 9px;
		color: $msp-color;
	}
}

.class_group .skill_table.selected {
	border-color: rgba(0, 208, 0, 0.6);
	background-color: rgba(0, 208, 0, 0.02)
}

/* 仲間モンスター用 ステータス表示欄 */
.status_info {
	clear: both;
	width: 98%;
	margin: 7px auto 0 auto;
	padding: 2px 0 1px 0;
	position: relative;
	border-top: 1px solid $border-color-general;
	height: 22px;
	white-space: nowrap;

	h3 {
		margin: 0;
		padding: 0;
		display: inline;
		font-size: 80%;
		font-weight: bold;
	}

	dl {
		margin: 0;
		padding: 0;
		display: inline-block;
	}
	dt {
		margin: 0 2px 0 4px;
		padding: 0;
		display: inline;
		font-size: 80%;
		&:after {
			content: ": ";
		}
	}
	dd {
		margin: 0;
		padding: 0;
		display: inline;
		font-size: 85%;
	}
}

.monster_ent .status_info {
	clear: none;
	position: absolute;
	width: 900px;
	left: 146px;
	bottom: 3px;
}

/* フッタコンソール */
#footconsole {
	border: $entry-border-width solid $border-color-general;
	border-radius: 5px;
	width: $entry-width;
	overflow: auto;
	margin: 3px 0;
	padding: $entry-padding;

	p {
		float: left;
		font-size: 80%;
		margin: 0;
		padding: 0 10px;
		border-right: 1px solid $border-color-general;
		&:last-child {
			border-right: none;
		}

		.ui-button-text-icon-primary {
			padding-left: 16px;
		}

		.ui-widget {
			font-size: 1em;
		}
		.ui-button-text {
			padding: .2em .5em;
		}
	}
}
#body-for-monster #footconsole {
	width: $body-content-width-monster;
}

.ui-handler:hover {
	border: 2px solid rgba(255, 0, 0, 0.3);
	border-radius: 4px;
	//padding: 2px;
	margin: -2px;
}

/* MSPモード時 */
body.msp {
	#pt_console .ui-widget-content {
		background: lighten($msp-color, 30%);
		color: darken($msp-color, 20%);
	}

	.class_group .skill_table.selected {
		border-color: rgba(85, 136, 238, 0.7);
		background-color: rgba(85, 136, 238, 0.03)
	}
}

/* フッタ */
#footer {
	font-size: 80%;
	width: $body-content-width;
}
#body-for-monster #footer {
	width: 80.5em;
}
#contact {
	font-style: normal;
}

/* バッジ関連定義 */
$button-height: 16px;
$badge-button-height: $button-height + 1px;
$button-anchor-padding-x: 5px;
$badge-button-width: 160px;
$badge-button-border-width: 1px;
$badge-button-margin-x: 2px;
$badge-button-margin-y: 3px;
$badge-button-count-per-row: 5; /* 1行あたりのボタン数 */
$badge-button-container-width: (
	$badge-button-width +
	$badge-button-border-width * 2 +
	$badge-button-margin-x * 2
	) * $badge-button-count-per-row;

/* ボタンコンテナ一般 */
.button-container {
	list-style-type: none;
	font-size: 11px;

	margin: 0;
	padding: 0;

	li, .button-like {
		float: left;
		height: $button-height;
		overflow: hidden;
		white-space: nowrap;
		border: 1px solid #aab;
		background-color: #f0f0f7;

		&:hover {
			cursor: pointer;
			border-color: #445;
			color: black;
		}
		a {
			display: block;
			/* padding: 0 $button-anchor-padding-x; */
			height: $button-height;
			width: auto;
			text-align: center;
		}
	}
}

/* バッジ選択ボタン */
ul.badge-button-container, ul#badge-search-buttons-rarity {
	li {
		&.blank {
			background-color: transparent;
			color: #889;
		}
		&.bronze {
			background-color: #eda;
			color: #531;
		}
		&.silver {
			background-color: #f0f0f5;
			color: #303032;
		}
		&.gold {
			background-color: #fef487;
			color: #551;
		}
		&.luminous {
			background-color: white;
			color: #444;
		}

		&:hover {
			cursor: pointer;
			border-color: #445;
			color: black;
		}

		a {
			text-align: center;
		}
	}
}
.monster_ent .class_info ul.badge-button-container {
	padding: 2px 3px 0 3px;
	margin: 0;

	li {
		float: none;
		margin: 1px 0 0 0;
		width: auto;
	}
	a {
		padding: 0 3px;
	}
}

$dialog-inner-border-width: 1px;
$dialog-outer-border-width: 3px;

.modal-dialog {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;

	z-index: 200;

	margin: auto;
	padding: 0;

	border: $dialog-outer-border-width solid $border-color-general;
	border-radius: $dialog-outer-border-width * 2;
	background-color: $main-background-color;

	.modal-dialog-header {
		position: relative;
		border-bottom: $dialog-inner-border-width solid $border-color-general;
		width: 100%;

	}
	.modal-dialog-footer {
		position: relative;
		border-top: $dialog-inner-border-width solid $border-color-general;
		width: 100%;
	}
	.modal-dialog-body {
		position: relative;
		width: 100%;
	}
	.modal-dialog-caption {
		margin: 3px 10px;
		font-size: 16px;
	}
}

#customskill-selector {
	display: none;

	$body-height: 400px;
	$body-padding: 0px;
	$header-height: 30px;
	$footer-height: 0px;

	$entrylist-width: 520px;
	$entrylist-scrollbar-margin: 18px;
	$entrylist-selector-width: 110px;
	$palette-width: 240px;

	width: $entrylist-width + $dialog-inner-border-width + $palette-width;
	height: $header-height + $body-height + $footer-height + $dialog-inner-border-width * 2;
	overflow: hidden;

	a.x-button {
		display: block;
		position: absolute;
		border-radius: 2px;
		background-color: transparent;
		color: #505056;
		font-weight: bold;
		text-align: center;
		cursor: pointer;
		margin: 0;
		padding: 0;

		&:hover {
			background-color: rgba(0, 0, 0, 0.2);
			text-decoration: none;
		}
	}

	#customskill-selector-header {
		height: $header-height;

		#customskill-selector-skillline {
			font-size: 18px;
		}

		#customskill-selector-close-button {
			font-size: 14px;
			width: 21px;
			height: 21px;
			top: 3px;
			right: 5px;
		}
	}

	#customskill-selector-footer {
		//height: $footer-height;
		display: none;
	}

	#customskill-selector-body {
		height: $body-height;
		font-size: 12px;

		#customskill-selector-entrylists {
			position: absolute;
			height: $body-height;
			width: $entrylist-width;
			top: 0;
			left: 0;
			border-right: $dialog-inner-border-width solid $border-color-general;
			overflow-y: scroll;
			overflow-x: hidden;

			.customskill-entrylist {
				display: none;

				position: absolute;
				width: $entrylist-width - $entrylist-scrollbar-margin;
				top: 0;
				left: 0;

				border-collapse: collapse;

				th, td {
					border-bottom: $dialog-inner-border-width solid $border-color-general;
				}
				.customskill-entrylist-header th {
					height: 16px;
				}
				.customskill-entry-name {
					text-align: right;
					width: $entrylist-width - $entrylist-scrollbar-margin - $entrylist-selector-width * 3;
				}
				.customskill-entry-selector {
					height: 30px;
					width: $entrylist-selector-width;
					font-size: 14px;
					text-align: center;
					vertical-align: middle;

					a {
						text-decoration: none;
						display: block;
						width: $entrylist-selector-width - 6px;
						padding: 0;
						margin: auto;
						border-bottom: 4px solid rgba(0, 0, 0, 0);
						cursor: pointer;

						&.selected {
							color: #347;
							border-bottom-color: #89d;
						}
						&:hover {
							text-decoration: none;
							color: #b57;
							border-bottom-color: #e79;
						}
					}

					.customskill-entry-selectoroption {
						font-size: 10px;
					}
				}
			}
		}
		#customskill-selector-pallette {
			position: absolute;
			height: $body-height;
			width: $palette-width;
			top: 0;
			right: 0;

			dl {
				//box-sizing: border-box;
				margin: 5px 10px;
				padding: 0;
				//width: $palette-width - 8px;
				position: relative;
				border-bottom: $dialog-inner-border-width solid $border-color-general;

				dt.customskill-palette-pt {
					font-weight: bold;
					margin: 0;
					padding: 0;
				}
				dd.customskill-palette-name {
					//box-sizing: border-box;
					margin: 0;
					padding: 0 0 0 10px;
					font-size: 14px;
				}
				a.customskill-palette-delete {
					display: none;
					top: 1px;
					right: 8px;
					height: 18px;
					width: 18px;
				}
				&:hover a.customskill-palette-delete {
					display: block;
				}
			}

			#customskill-selector-skillline-buttons {
				$skillline-button-width: 70px;

				position: absolute;
				left: 0;
				right: 0;
				bottom: 16px;
				height: ($button-height + 4px) * 11;
				width: ($skillline-button-width + 4px) * 3;
				margin: auto;

				li {
					width: $skillline-button-width;
					margin: 1px;
				}
				li.unique-skillline {
					background-color: #f7f4f0;
				}
			}
		}
	}
}

#customskill_console {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 22px;
	width: 70px;
}
#show-customskill-dialog {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 22px;

	.ui-button-text {
		padding: 2px 6px 2px 22px;
		font-size: 12px;
	}
}

/* バッジ選択ダイアログ */
#badge-selector {
	display: none;

	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;

	z-index: 200;

	margin: auto;
	padding: 0;

	$badge-selector-body-height: 300px;
	$badge-selector-body-padding: 15px;
	$badge-selector-body-scrollbar-margin: 18px;
	$badge-selector-header-height:
		($button-height + 1px * 2 /* margin */ + 1px * 2 /* border */) * 4 +
		$badge-selector-body-padding /* top */ +
		10px /* bottom */;
	$badge-selector-footer-height: 120px;
	$badge-selector-inner-border-width: 1px;
	$badge-selector-outer-border-width: 3px;

	width:
		$badge-button-container-width +
		$badge-selector-body-padding * 2 +
		$badge-selector-body-scrollbar-margin;
	height:
		$badge-selector-header-height +
		$badge-selector-footer-height +
		$badge-selector-body-height +
		$badge-selector-inner-border-width * 2;

	border: $badge-selector-outer-border-width solid $border-color-general;
	border-radius: $badge-selector-outer-border-width * 2;
	background-color: $main-background-color;

	#badge-selector-header {
		position: relative;
		height: $badge-selector-header-height;
		border-bottom: $badge-selector-inner-border-width solid $border-color-general;
	}
	#badge-selector-footer {
		position: relative;
		height: $badge-selector-footer-height;
		border-top: $badge-selector-inner-border-width solid $border-color-general;
	}
	#badge-selector-body {
		position: relative;
		height: $badge-selector-body-height;
		overflow-y: scroll;
		overflow-x: hidden;

		ul {
			font-size: 12px;
			margin: {
				top: 0;
				right: $badge-selector-body-padding + $badge-selector-body-scrollbar-margin;
				left: $badge-selector-body-padding;
				bottom: 0;
			}
			padding: 0;
			width: $badge-button-container-width;

			li {
				float: left;
				width: $badge-button-width;
				height: $badge-button-height;
				margin: $badge-button-margin-y $badge-button-margin-x;
			}
		}
		ul#badge-selector-blank {
			margin-top: 5px;
			margin-bottom: 6px;
		}
		ul#badge-selector-list {
			clear: left;
			margin-bottom: 5px;

			li a {
				text-align: left;
				margin-left: $button-anchor-padding-x;
			}
		}
	}

	/* バッジ検索ボタン */
	$badge-search-button-width: 36px;

	ul.badge-search-button-container, #badge-search-console-word {
		float: left;
		margin-top: $badge-selector-body-padding;
		height: ($button-height + 4px) * 4;

		margin-right: 6px;
		border-right: 1px solid $border-color-general;
		padding-right: 6px;

		&:first-child {
			margin-left: $badge-selector-body-padding;
		}
		&:last-child {
			margin-right: $badge-selector-body-padding + $badge-selector-body-scrollbar-margin;
			border-right: none;
			padding-right: 0;
		}

		li, .button-like {
			width: $badge-search-button-width;
			margin: 1px;

			&.selected {
				border-color: white;
				box-shadow: rgba(96, 160, 240, 0.7) 0 0 3px 1px;
				a {
					color: #0ae;
				}
			}
		}
	}
	ul#badge-search-buttons-race {
		width: ($badge-search-button-width + 4px) * 4;
	}
	ul#badge-search-buttons-rarity {
		width: ($badge-search-button-width + 4px) * 1;

	}
	ul#badge-search-buttons-feature {
		width: ($badge-search-button-width + 4px) * 8;
	}
	ul#badge-search-buttons-sort {
		$badge-sort-button-width: 80px;

		float: right;
		width: $badge-sort-button-width + 4px;

		li {
			width: $badge-sort-button-width;
		}
	}
	#badge-search-console-word {
		width: 160px;

		label {
			font-size: 11px;
			display: block;
			float: left;
		}
		#badge-search-word-input {
			font-size: 13px;
			width: 105px;
			border-radius: 1px;
			border: 1px solid #aaa;
			display: block;
			float: left;
		}
	}

	#badge-selector-footer {
		&>div, &>ul, &>table {
			margin-top: 5px;
			/* height: $badge-selector-footer-height - 5px; */
		}
	}
	#badge-selector-baseinfo {
		float: left;
		width: 220px;
		margin-left: $badge-selector-body-padding;

		#badge-selector-badge-title {
			font-size: 18px;
			margin: 0 0 3px 0;
			white-space: nowrap;

			#badge-selector-badge-id {
				font-size: 85%;
				margin-right: 3px;
			}
		}

		#badge-selector-race {
			font-size: 14px;
			margin: 0;
			padding: 0;
		}
	}
	#badge-selector-feature-list {
		float: left;
		width: 180px;
		font-size: 12px;
	}
	#badge-selector-trade-list {
		float: left;
		width: 180px;
		font-size: 12px;
	}

	#badge-selector-status-table {
		float: right;
		margin-left: 0;
		margin-right: $badge-selector-body-padding + $badge-selector-body-scrollbar-margin;
		padding: 0;
		border-collapse: separate;
		border-spacing: 0;
		border: none;

		$status-cell-height: 20px;
		height: $status-cell-height * 5;

		th, td {
			vertical-align: middle;
			margin: 0;
			padding: 0 3px;
			height: $status-cell-height;
			overflow: hidden;
		}
		th {
			text-align: left;
			font-size: 11px;
			font-weight: normal;
		}
		td.badge-status-current, td.badge-status-after {
			font-size: 12px;
			text-align: right;
			width: 28px;
		}
		td.badge-status-arrow {
			font-size: 9px;
		}
		td.badge-status-after {
			font-weight: bold;

			&.badge-status-plus {
				color: #46b;
			}
			&.badge-status-minus {
				color: #b55;
			}
		}
	}
}

/* ダイアログ表示時のマスク用スクリーン */
#dark-screen {
	display: none;

	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 199;
	background-color: rgba(0, 0, 0, 0.5);
}

/* サイドバー広告 */
#ad_sidebar {
	position: absolute;
	left: $body-content-width + $body-margin + 10px;
	top: $header-height + 5px;
	z-index: 1;

	ul {
		font-size: 80%;
		margin: 0;
		padding-left: 2em;
	}
	h2 {
		font-size: 90%;
		margin: 0;
		border-bottom: 1px solid $border-color-general;
	}
	div.amazonitem {
		position: relative;
		width: 160px;
		float: left;
		font-size: 70%;
		line-height: 100%;
		text-align: center;
	}
}
#body-for-monster #ad_sidebar {
	left: $body-content-width-monster + 1.5em;
	top: $header-height-monster + 5px;
}
#body-for-anlucea #ad_sidebar {
	top: $header-height-anlucea + 5px;
}

/* ヘッダ部 SNSボタン各種 */
#snsbuttons {
	/*
	padding: 2px 0;
	height: 21px;
	position: absolute;
	bottom: 0;
	right: 10px;
	z-index: 101;
	*/
	margin: 10px 0 5px 5px;

	.snsbutton {
		display: inline-block;
		position: relative;
		height: 21px;
		overflow: hidden;
		vertical-align: top;
		/*
		&#tw-share {
			width: 100px;
		}
		&#g-plusone {
			width: 65px;
		}
		&#fb-like {
			width: 105px;
		}
		*/
	}
}

/* ベータ版注意事項 */
#beta_notice {
	font-size: 90%;
}

#initial-instruction, #ie-alert {
	padding: {
		top: 2em;
		bottom: 2em;
	}

	p {
		font-size: 100%;
		color: green;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	p.whatsnew {
		color: #f75050;
	}
}
