@charset "UTF-8";

$header-height: 90px;
$main-background-color: #fcfcfd;

body {
	background-color: $main-background-color;
	color: #404044;
	font-family: "メイリオ", sans-serif;
	font-size: 100%;
	padding: $header-height + 5px 0 0 0;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	img {
		border-style: none;
	}
}
.error {
	color: red;
}

/* ヘッダ */
#header {
	background-color: $main-background-color;
	width: 100%;
	height: $header-height;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 3px solid #dcc;
	z-index: 99;

	#titleblock {
		height: 25px;
		width: auto;
		margin: 15px 0 7px 0;
		padding: 0 10px;
		
		h1 {
			font-size: 18px;
			margin: 0 10px 0 0;
			height: 25px;
			float: left;
		}
	
		#save_url {
			padding: 2px 0;
			height: 21px;
			text-align: right;
			white-space: nowrap;
			font-size: 12px;
			
			#tw-saveurl {
				font-size: 11px;
				height: 18px;
				overflow: hidden;
				
				.ui-button-text {
					padding: .2em .5em;
				}
			}
		}
	}
	
	#consoleblock {
		width: auto;
		height: 39px;
		padding: 0;
		position: relative;
		white-space: nowrap;
		
		#foldbuttons {
			font-size: 11px;
			position: absolute;
			top: 0;
			left: 10px;
			z-index: 102;
			
			ul.button-container {
				$width-all: 96px;
				$width-each: 30px;
				$side-padding-a: 3px;
				$height-button: 16px;
				
				display: inline-block;
				list-style-type: none;
				margin: 0;
				padding: 0;
				
				&#foldbuttons-all {
					width: ($width-all + 2px + 1px) * 1;
				}
				&#foldbuttons-vocation {
					width: ($width-each + 2px + 1px) * 6;
				}
				&#foldbuttons-skillCategory {
					width: ($width-each + 2px + 1px) * 8;
				}
				
				li {
					float: left;
					height: $height-button;
					overflow: hidden;
					white-space: nowrap;
					margin: 0 1px 3px 0;
					border: 1px solid #aab;
					background-color: #f0f0f7;
					
					&:hover {
						cursor: pointer;
						border-color: #445;
						color: black;
					}
					&.button-for-all {
						width: $width-all;
						a {
							width: $width-all - ($side-padding-a * 2);
							text-align: left;
						}
					}
					&.button-each{
						width: $width-each;
						a {
							width: $width-each - ($side-padding-a * 2);
							text-align: center;
						}
					}
					a {
						display: block;
						padding: 0 $side-padding-a;
						height: $height-button;
					}
				}
			}
		}

		/* 合計表示欄 */
		table#total {
			margin: 0;
			border-collapse: collapse;
			border-collapse: separate;
			border-spacing: 0;
			border-left: 1px solid #aab;
			border-top: 1px solid #aab;
			background-color: $main-background-color;
			position: absolute;
			top: 0;
			left: 10px + 96px + 33px * 6 + 10px;
			z-index: 102;
			
			td, th {
				margin: 0;
				white-space: nowrap;
				vertical-align: bottom;
				height: 16px;
				text-align: right;
				border-bottom: 1px solid #aab;
			}
			th {
				font-size: 11px;
				font-weight: normal;
				padding: 0 0 0 3px;
			}
			td.total_pts {
				padding: 0 4px 0 3px;
				font-size: 12px;
				width: 22px;
				border-right: 1px solid #aab;
				
				&#total_exp, &#total_exp_remain {
					width: 64px;
				}
			}
		}

		#hirobaimport {
			position: absolute;
			bottom: 0;
			right: 10px;
			z-index: 101;
			font-size: 12px;
		}
	}
}

/* 職業ボックス */
.class_group {
	border: 2px solid #99a;
	border-radius: 5px;
	clear: both;
	width: 65.5em;
	margin: 3px 0;
	padding: 2px;
	overflow: hidden;
	
	&:nth-child(even) {
		background-color: #f6f6f7;
	}
}

/* 職業情報欄 */
.class_info {
	font-size: 70%;
	float: left;
	width: 12em;
	height: 20em;
	position: relative;
	text-align: center;
	border-right: 1px solid #99a;
	vertical-align: top;
	
	h2 {
		font-size: 140%;
		margin: 0.8em 0;
	}
	dt {
		font-weight: normal;
	}
	dt.label_lv, dd.lv_select {
		display: inline;
	}
	dt, dd {
		margin: 0;
	}
	.lv_select select {
		text-align: right;
	}
	.pts {
		font-weight: bold;
		font-size: 140%;
	}
	.exp {
		font-size: 120%;
	}
	.training_pt {
		width: 2em;
		text-align: right;
	}
}

/* 折りたたみ/展開ボタン */
p.fold, p.unfold {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 1em;
}
p.fold {
	bottom: 2px;
}
p.unfold {
	top: 2px;
}
.fold:hover, .unfold:hover {
	cursor: pointer;
	color: #d66;
}
span.fold, span.unfold {
	margin: 0 0.5em;
}
#toggle_buttons {
	font-size: 75%;
	display: inline;
}

/* スキル一覧 */
.skill_table {
	font-size: 70%;
	width: 16em;
	border-collapse: collapse;
	display: inline-block;
	
	caption {
		font-weight: bold;
		font-size: 120%;
	}
	.skill_pt {
		width: 2em;
		text-align: right;
	}
	.skill_name {
		width: 14em;
	}
	td {
		padding: 1px 3px 0 3px;
		color: #889;
		cursor: pointer;
	}
	th {
		padding: 1px 3px 2px 3px;
	}
	.console {
		text-align: center;
		
		.ptspinner {
			width: 2em;
			text-align: right;
		}
	}
	.reset {
		width: 20px;
		height: 20px;
		vertical-align: bottom;
	}
	tr.enabled > td {
		color: black;
		font-weight: bold;
	}
	tr+tr:hover {
		background-color: #edd;
		td {
			color: #877;
		}
	}
	tr+tr.enabled:hover td {
		color: #211;
	}
	
	&.selected {
		tr+tr:hover {
			background-color: #ccd;
			td {
				color: #667;
			}
		}
		tr+tr.enabled:hover td {
			color: #112;
		}
	}
}

.class_group .skill_table.selected {
	background-color: #efeff4;
}
.class_group:nth-child(even) .skill_table.selected {
	background-color: #e4e4f0;
}

/* フッタコンソール */
#footconsole {
	border: 2px solid #99a;
	border-radius: 5px;
	width: 65.5em;
	overflow: auto;
	margin: 3px 0;
	padding: 2px;
	
	p {
		float: left;
		font-size: 80%;
		margin: 0;
		padding: 0 10px;
		border-right: 1px solid #99a;
		&:last-child {
			border-right: none;
		}
		
		.ui-button-text-icon-primary {
			padding-left: 16px;
		}

		.ui-widget {
			font-size: 1em;
		}
		.ui-button-text {
			padding: .2em .5em;
		}
	}
}

/* フッタ */
#footer {
	font-size: 80%;
	width: 80.5em;
}
#contact {
	font-style: normal;
}

/* サイドバー広告 */
#ad_sidebar {
	position: absolute;
	left: 67em;
	top: $header-height + 5px;
	z-index: 1;
	
	ul {
		font-size: 80%;
		margin: 0;
		padding-left: 2em;
	}
	h2 {
		font-size: 90%;
		margin: 0;
		border-bottom: 1px solid #99a;
	}
	div.amazonitem {
		position: relative;
		width: 160px;
		float: left;
		font-size: 70%;
		line-height: 100%;
		text-align: center;
	}
}

/* ヘッダ部 SNSボタン各種 */
#snsbuttons {
	/*
	padding: 2px 0;
	height: 21px;
	position: absolute;
	bottom: 0;
	right: 10px;
	z-index: 101;
	*/
	margin: 10px 0 5px 5px;

	.snsbutton {
		display: inline-block;
		position: relative;
		height: 21px;
		overflow: hidden;
		vertical-align: top;
		/*
		&#tw-share {
			width: 100px;
		}
		&#g-plusone {
			width: 65px;
		}
		&#fb-like {
			width: 105px;
		}
		*/
	}
}

/* ベータ版注意事項 */
#beta_notice {
	font-size: 90%;
}
